.ServicesCardsSection{
    margin-top: 100px;
    margin-bottom: 100px;
}
.ServicesCardsTitle{
    margin-bottom: 50px;
}
.ServicesCardsTitle h1{
    width: 100%;
    font-weight: 700 !important;
    color: var(--accent-color-2);
    font-family: 'MainFontNorm';
    line-height: 60px;
}

.ServiceCardImageContainer img{
    max-width: 200px;
}
.ServiceCard{
    min-height: 420px !important;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 20px; */
    margin: 10px;
    transition: all 0.2s ease-in-out;
}